HF_TOKEN=
SERVICE_PORT=8000
LOG_LEVEL=info
MODEL_DIR=/models
CUDA_VISIBLE_DEVICES=0
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility
ATST_SED_REQUIRE_CUDA=true
ATST_SED_OVERLAP_SECONDS=3
ATST_SED_HARD_THRESHOLD=0.5
ATST_SED_EXCLUDED_LABELS=Speech
ATST_BASE_CHECKPOINT_PATH=/models/atst_as2M.ckpt
ATST_BASE_CHECKPOINT_URL=https://drive.google.com/file/d/1_xb0_n3UNbUG_pH1vLHTviLfsaSfCzxz/view?usp=drive_link
ATST_SED_CHECKPOINT_PATH=/models/Stage2_wo_ext.ckpt
ATST_SED_CHECKPOINT_URL=https://drive.google.com/file/d/1yMv05N0Nz5mSzlQ4YBb_sqOjazPbPDhw/view?usp=sharing

